@import url(fonts.css);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a 
{
    text-decoration: none;
}

ul 
{
    list-style: none;
}

li
{
    list-style: none;
}

body 
{
    font-family: "Montserrat";
    font-weight: 700;
}

.container
{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header__nav .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav
{
    background: #282828;
}

.header__links
{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    margin-left: 30px;
}

.header__menu
{
    display: flex;
    align-items: center;
}

.header__box
{
    display: flex;
}

.header__logo
{
    margin-top: 6px;
}

.header__shop
{
    margin-left: 25px;
}

.header__baner
{
    background: url(../img/Header-baner.png) no-repeat center / cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.baner__box
{
    display: flex;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 55px;
    padding: 13px 14px;
}

.header__title
{
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 75px;
    color: #FFFFFF;
}

.header__desc
{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #171718;
    margin-right: 11px;
}

.main__about
{
    background: #151515;
}

.main__about2
{
    background: #151515;
}

.main__about .container
{
    display: flex;
    justify-content: center;
}

.main__box
{
    max-width: 538px;
    width: 100%;
    margin-top: 130px;
}

.main__desc
{
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.main__card
{
    margin-top: 30px;
    margin-left: 30px;
}

.main__box2
{
    max-width: 540px;
    width: 100%;
    margin-top: 201px;
}

.main__card2
{
    margin-top: 50px;
    margin-right: 87px;
}

.main__box3
{
    max-width: 333px;
    width: 100%;
    margin-top: 195px;
    margin-right: 88px;
}

.main__desc3
{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
}

.main__box4
{
    max-width: 333px;
    width: 100%;
    margin-top: 183px;
    margin-left: 86px;
}

.main__desc4
{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.main__card3
{
    margin-top: 50px;
}

.main__cards
{
    background: #FFFFFF;
    border-radius: 6px;
    max-width: 255px;
    width: 100%;
    padding: 15px 47px;
    margin-right: 30px;
    margin-top: 94px;
    margin-bottom: 55px;
}

.main__title
{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.about__card
{
    margin-top: 10px;
    margin-left: 16px;
}

.about__desc
{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    justify-content: center;
}

.main__button
{
    max-width: 161px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none; 
    box-shadow: none;
    background: #151515;
    padding: 7px 57px;
}

.main__about2 .container
{
    display: flex;
    justify-content: center;
}

footer
{
    background: #282828;
}

footer .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__icons
{
    display: flex;
}

.header__logo2
{
    margin-top: 81px;
    margin-bottom: 81px;
}

.footer__img
{
    margin-right: 29px;
}